*   {

    padding: 0;
    margin: 0;
    
    

}

.row{

    justify-content: center;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: block;
}

#main h1 {

    font-size: 5vmin;


}

#main i {

    font-size: 6vmin;


}

#main{


    background-color: rgba(58, 58, 58, 1);
    display: block;
    padding-top: 20vmin;
    color: black;


}

a:link{

    color: black;
    background-color: transparent;
    text-decoration: none;
    

}

#main a:hover{

    color: grey;  
    background-color: transparent;
    text-decoration: none;
    

}

#messagebox {

    font-size: 3vmin;
    


}

#messagebox h5 {

    font-size: 2vmin;


}



textarea {

    
    width: 13vw;
    background-color: rgba(58, 58, 58, 1);
    color: white;

}




i{

    justify-content: end;
}

.jumbotron{

    height: 100vh;
    width: auto;


}