* {

    padding: 0;
    margin: 0;
    font-family: 'Lato Light', sans-serif;
    

}


html {

  scroll-snap-type: y mandatory;  

}


.experienceContainer a {
    text-decoration: none;
    color:#ff0000;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.linkContainer a{
    justify-content: center;

}

.linksContainer h3{
    color:#ff0000;
}


body {
    height: 100vh;
    width: 100vw;

}

.jumbotron{

    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100%;
    width: 100%;
    padding-top: 15vh;
    
}





.navbar{

    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
    

}

.navbar img{

    justify-content: right;

}

#navbar-nav {

    float: right;

}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: red;
    transform: translateY(1px);
}





.navbar-toggler{

    color:white;
    justify-content: end;


}


.dropdown-menu {
    background-color: #ff0000;
    color: red;
    height: 20vh;
    width: auto;
}

.dropdown-menu a {
    font-size: 3vh;
}

.dropdown{
    background-color: transparent !important;
}

#main{
    
    font-family: 'Source Code Pro', monospace;
    display: block;
    text-align: center;
    justify-content: center;
    background-color: black;
    
    

    

}

#main h1{

    color:white;
    justify-content: center;
    text-align: center;
    font-size: 5vmin;
    padding-top:5vh;
    padding-bottom:10vh;
    
    
    


}


#main img{

    border: 2px solid black;
    border-radius: 20px;
    height: 50%;
    width:auto;
    

    
    

}

#workbutton{

    background-color: rgba(58, 58, 58, 1);
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-top: none;
    border-left: none;
    width: auto;
    font-size: 4vmin;
    
    

    


}


#workbutton:hover{

    color:red;
    
}

#workbutton:active{

    transform: translateY(2px);

}



#about{

    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(58, 58, 58);
    text-align: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    
}
#about h1{

    font-size: 5vmin;
    



}




#about p{

    font-size: 3vmin;
    




}

#aboutbreak {

    margin-bottom: 10vh;

}


.break {
    flex-basis: 100%;
    height: 0;
    margin-top: 0;
    
  }



#experience{

    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    font-family: 'Source Code Pro', monospace;
    
    

}

.experienceContainer{
    justify-content: center;
    align-items: center;
}

#experience h1{

    /* font-size: 10vh; */
    margin-bottom: 10vh;

}

#experience i {

    font-size: 8vmin;


}





.fab{

    color:red;
    
}

#work{

    display: flex;
    flex-wrap: wrap;
    color:white;
    background-color: rgb(58, 58, 58);
    text-align: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    
}

.studiesContainer h1{
    margin-bottom: 5vh;
}

#experience p {
    font-size: 3vmin;
}

#work h1{

    font-size: 5vmin;
 

}

#work p{

    font-size: 3vmin;
    




}

.studiesContainer h3 {
    align-content: justify;
    text-align: justify;
}

#footer{

    color: white;
    background-color: black;
    font-family: 'Source Code Pro', monospace;
}

footer{
    scroll-snap-align: end;
    /* height: 5vh; */
    font-size: 5vh;
}



.row {

    padding-top:10px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

ul{

    text-align: right;


}
li {
    margin: 20px;
    display: inline;
}





